# HPA for Background Remove Worker
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: background-remove-worker-hpa
  namespace: imagen
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: background-remove-worker
  
  minReplicas: 1
  maxReplicas: 10
  
  metrics:
    - type: External
      external:
        metric:
          name: pubsub.googleapis.com|subscription|num_undelivered_messages
          selector:
            matchLabels:
              resource.labels.subscription_id: background-remove-jobs-sub
        target:
          type: AverageValue
          averageValue: "2"
  
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
        - type: Pods
          value: 4
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 1
          periodSeconds: 120
