apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: models-pvc
  namespace: imagen
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard-rwo
